src/main/app/testproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <spring:beans>
        <spring:import resource="classpath:sharedproject.xml"/>
    </spring:beans>
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/says:api-config">
        <set-payload value="{&#xA;  &quot;greeting&quot;: &quot;Hello World!&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
    <!-- <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="testprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/says" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="testprojectSub_Flow" doc:name="Flow Reference testprojectSub_Flow"/>
        <set-variable variableName="divisor" value="#[(int)(Math.random()*2) == 0 ? 'x' : 1 ]" doc:name="set divisor flowVar"/>
        <set-payload value="Hello World  2/#[flowVars.divisor] = #[2/flowVars.divisor]" doc:name="Set Payload"/>
        <catch-exception-strategy doc:name="testprojectCatch_Exception_Strategy">
            <set-payload value="An unexpected error occured" doc:name="set payload to our error message"/>
            <set-variable variableName="logLevel" value="ERROR" doc:name="set logLevel flowVar"/>
            <flow-ref name="buildLogEventAndLog" doc:name="Flow Reference"/>
            <set-payload value="{ &quot;error&quot;:&quot;An exception occured&quot;}" doc:name="set an error message to return to the client"/>
            <set-property propertyName="http.status" value="500" mimeType="application/json" doc:name="set the http status to 500"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="testprojectSub_Flow">
        <set-variable variableName="flowName" value="#[mule:context.serviceName]" doc:name="set flow name"/>
        <set-session-variable variableName="correlationId" value="#[message.inboundProperties['correlationId'] == empty ? java.util.UUID.randomUUID().toString() : message.inboundProperties.correlationId]" doc:name="set correlationId session var"/>
    </sub-flow>-->
</mule>
