src/main/app/testproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <spring:beans>
        <spring:import resource="classpath:sharedproject.xml"/>
    </spring:beans>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="testprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/says" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="testprojectSub_Flow" doc:name="Flow Reference"/>
        <set-variable variableName="divisor" value="#[(int)(Math.random()*2) == 0 ? 'x' : 1 ]" doc:name="set divisor"/>
        <set-payload value="Hello World  2/#[flowVars.divisor] = #[2/flowVars.divisor]" doc:name="Set Payload"/>
        <catch-exception-strategy doc:name="testprojectCatch_Exception_Strategy">
            <set-payload value="An unexpected error occured" doc:name="Set Payload"/>
            <set-variable variableName="logLevel" value="INFO" doc:name="set log level"/>
            <flow-ref name="buildLogEventAndLog" doc:name="Flow Reference"/>
            <set-payload value="{ &quot;error&quot;:&quot;An exception occured&quot;}" doc:name="Set Payload"/>
            <set-property propertyName="http.status" value="500" mimeType="application/json" doc:name="Property"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="testprojectSub_Flow">
        <set-variable variableName="flowName" value="#[mule:context.serviceName]" doc:name="set flow name"/>
        <set-session-variable variableName="correlationId" value="#[message.inboundProperties['correlationId'] == empty ? java.util.UUID.randomUUID().toString() : message.inboundProperties.correlationId]" doc:name="set correlationId session var"/>
    </sub-flow>
</mule>
